
.top-buffer-5{
    margin-top: 5px;
}

.top-buffer-10{
    margin-top: 10px;
}

.top-buffer-15{
    margin-top: 15px;
}

.top-buffer-20{
    margin-top: 20px;
}

.top-buffer-25{
    margin-top: 25px;
}

.top-buffer-30{
    margin-top: 30px;
}

.margin-5{
    margin: 5px;
}

.margin-10{
    margin: 10px;
}

.red{
    color: red;
}
.bg-red {
    background-color: rgb(137, 29, 29);
    color: #fff;
}