body{
    background-image: url("/images/background/tree-bg.jpg");
    background-size: 100%;
}

.site-title{
    position: absolute;
    width: 700px;
    height: 200px;
    left: 50%;
    top: 50%;
    margin: -100px 0 0 -350px;
    text-align: center;
    color: #fff;
    font-size: 50px;
    font-weight: 100;
    font-family: 'Poiret One', cursive;
}

