html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    box-sizing: border-box;
}

body {
    background: #CACACA;
    color: #f0f0f0;
}

a, a:visited{
    color: #fff;
    text-decoration: none;
}

a:hover{
    color: #bb600c;
    text-decoration: none;
}
a:active{
    color: #ff4d1e;
    text-decoration: none;
}

a.btn-default, a.btn-default:visited, a.btn-default:hover{
    color: #222;
}

.panel a,
.panel,
.expert-user a{
    color: #222;
}
.table-striped>tbody>tr:nth-of-type(odd),
.table-striped>tbody>tr:nth-of-type(odd) a{
    color: #222;
}

#main-container {
    min-height: 100%;
    padding: 50px 25px 0px 25px;
    box-sizing: border-box;
    border: 1px solid rgba(134, 134, 134, 0.19);
    border-width: 0px 1px;
    background-color: rgba(69, 69, 69, 0.34);
    box-shadow: 0 0 10px #020202;
}

.root-layout-wrapper{
    min-height: 100%;
    height: 100%;
}

.navbar-inverse .navbar-brand {
    color: #FFFFFF;
}

.navbar-inverse {
    background: linear-gradient(39deg, #01144D 0%, #590909 50%, #7C4006 100%);
    border-color: rgba(123, 60, 60, 0.38);
}

.navbar-inverse .navbar-nav > li > a {
    color: #FFFFFF;
}

#main-navbar {
    position: fixed;
    width: 100%;
}

.user-region a {
    line-height: 60px;
    color: #bbb;
}

.user-region a:hover {
    color: #cd3b23;
}

#navbar {
    width: 800px;
    float: left;
}

.error-list {
    color: red;
}

.error-list li {
    list-style: none;
}

.col-centered {
    float: none;
    margin: 0 auto;
}

.user-region {
    position: absolute;
    right: 5%;
    height: 50px;
}

.user-welcome {
    max-width: 450px;
}

.user-welcome-text {
    float: left;
    color: white;
    font-size: 1.2em;
    line-height: 50px;
    margin: 0px 10px;
}

#login-region {
    width: 50px;
    height: 50px;
    float: right;
    text-align: center;
}

#logo-gif {
    width: 40px;
    float: left;
    margin: 6px 7px 0px 0px;
}

.icon-small {
    width: 30px;
}

.admin-back-link {
    float: left;
    display: block;
    margin-right: 13px;
    margin-top: 15px;
}

.dropdown-custom {
    width: 200px;
}

.dropdown-custom button {
    width: 300px;
}

.dropdown-custom button .caret {
    float: right;
    margin-top: 8px;
}

.expert-user, .attestation-panel{
    min-width: 130px;
    position: relative;
    background-color: #ffffff;
    border: 1px solid #919191;
    border-radius: 3px;
    margin: 5px;
}
.expert-user{
    padding-left: 5px;
    height: 35px;
    line-height: 35px;
}

.expert-user div{
    float: left;
}

.expert-user .expert-name, {
    height: 35px;
    line-height: 33px;
    cursor: pointer;
    display: block;
    color: #000000;
}
.expert-user:hover{
    background-color: #efefef;
}
.expert-user .expert-name:hover,
.expert-user .expert-name:visited,
.attestation-panel .attestation-name:hover,
.attestation-panel .attestation-name:visited
{
    text-decoration: none;
}

.expert-user .remove-btn, .attestation-panel .remove-btn{
    cursor: pointer;
    color: red;
    position: absolute;
    right: 8px;
    top: 1px;
}

.expert-user .remove-btn:hover,
.attestation-panel .remove-btn:hover
{
    text-shadow: 0 0 5px #000;
}

.expert-user .remove-btn i,
.attestation-panel .remove-btn i
{
    font-size: 20px;
}

.form-required-star{
    position: absolute;
    right: 5px;
    top: 5px;
}

.error-text{
    font-size: 10px;
    color: red;
}

.dropdown-menu>li>a {
    cursor: pointer;
    max-width: 300px;
}

.break-text{
    text-overflow: ellipsis;
    word-wrap: break-word;
    overflow: hidden;
}

.attestation-panel a{
    color: #fff;
}